{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
      {
        "name": "(gdb) linux",
        "type": "cppdbg",
        "request": "launch",
        "preLaunchTask": "vm", //if you don't want to launch vm via vscode, common this line!
        "program": "${workspaceRoot}/vmlinux",
        "miDebuggerServerAddress": "localhost:1234",
        "args": [],
        "stopAtEntry": true,
        "cwd": "${workspaceFolder}",
        "environment": [],
        "externalConsole": false,
        "MIMode": "gdb",
        "miDebuggerArgs": "-n",
        "targetArchitecture": "x64",
        "hardwareBreakpoints": { "require": true},
        //"logging": { "engineLogging": true },
        "setupCommands": [
          {
            "description": "Hardware breakpoint at start",
            "text": "-break-insert -h -f start_kernel", // specify your entry point label, mine was 'start_kernel'
            "ignoreFailures": true
          },
          {
            "text": "set arch i386:x86-64:intel",
            "ignoreFailures": false
          },
          {
            "text": "dir .",
            "ignoreFailures": false
          },
          {
            "text": "add-auto-load-safe-path ./",
            "ignoreFailures": false
          },
          {
            "text": "-enable-pretty-printing",
            "ignoreFailures": true
          }
        ]
      }
    ]
  }

//{
//    "version": "0.2.0",
//    "configurations": [
//        {
//            "type": "cppdbg",
//            "request": "launch",
//            "name": "Attach to QEMU",
//            //"preLaunchTask": "Launch Qemu",
//            "program": "${workspaceFolder}/vmlinux",
//            //"executable": "${workspaceFolder}/vmlinux",
//            "target": ":1234",
//            "remote": true,
//            "cwd": "${workspaceRoot}",
//
//            "targetArchitecture": "x86_64",
//            "customLaunchSetupCommands": [
//                {
//                    "text": "target remote :1234",
//                    "description": "Connect to QEMU remote debugger"
//                },
//            ],
//        }
//    ]

//            
//            "name": "Debug Kernel",
//            "type": "cppdbg",
//            "request": "launch",
//            //"program": "${workspaceRoot}/bin/kernel.elf",
//            "program": "${workspaceRoot}/vmlinux",
//            "args": [],
//            "stopAtEntry": false,
//            "cwd": "${workspaceFolder}",
//            "environment": [],
//            "externalConsole": false,
//            "MIMode": "gdb",
//            "setupCommands": [
//                {
//                    "description": "Enable pretty-printing for gdb",
//                    "text": "-enable-pretty-printing",
//                    "ignoreFailures": true
//                }
//            ],
////            "preLaunchTask": "Launch Qemu",
//            "miDebuggerPath": "gdb",
//            "miDebuggerArgs": "",
//            "targetArchitecture": "x86_64",
//            "customLaunchSetupCommands": [
//                {
//                    "text": "target remote :1234",
//                    "description": "Connect to QEMU remote debugger"
//                },
//                //{
//                //    //"text": "symbol-file kernel.elf",
//                //    "text": "symbol-file vmlinux",
//                //    "description": "Get kernel symbols"
//                //},
//                //{
//                //    "text": "continue",
//                //    "description": "Continue kernel running"
//                //}
//            ],
//            "avoidWindowsConsoleRedirection": true
//        }
//    ]
}